.left-column{
  width: 500px;
  height: 150px;
}
.left {
  width: 540px;
  margin-left: -20px;
  float: left;
}
.right{
  width: 240px;
  float: right;
}
.right-column{
  width: 240px;
}

footer p {
	text-align: center;
}
